/* ここから下に記載していく */
@charset "utf-@8";

html{
    font-size: 62.5%;
}

body{
    color: #333333;
    font-size: 1.6rem;
    line-height: 1.75;   
    max-width: 1440px; 
    margin: auto;
}

.text-center{
    text-align: center;
}

.header{
    background-color: white;    
}

.site-title{
    margin: 0 0 0 30px;
}

.nav-list{
    display: flex;
}

.nav-item{
    padding:0 25px;
}
.nav-item>a{
    font-size: 21px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
 
}

.head-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1400px;
    height: 120px;
}
/* head-title */

.title{
    background-image: url(../img/mainbg.png);
    background-size: cover;
    height: 480px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-text{
    vertical-align: middle;
    letter-spacing: 0.5em;
}

.title-text1{
    font-size: 3.6rem;
    font-weight: bolder;
    color:#fff;
}

.title-text2{
    font-size: 3.0rem;
    color: #fff;
    margin:30px 0 0 0;
}

/* About */

.about{
    margin: 60px 0 80px;
    text-align: center;
    font-size: 2.4rem;
}

.about-title{
    color: #ffd61a;
    font-weight: bold;
    text-transform: uppercase;
}

.about-text1{
    margin: 30px 0 60px;
    font-size: 1.8rem;
}

.about-text2{
    font-size: 1.6rem;
}

.about-text3{
    margin: 0 0 40px;
    font-size: 1.6rem;
}

.about-text4{
    margin: 0 0 40px;
    font-size: 1.6rem;
}

/* 画像群 */
.images{
    display: flex;
    max-width: 100%;
}

.images-width{
    max-width: 100%;
}


/* course */
.course{
    margin:60px 0;
    text-align: center;
}
.course-picture{
    width:720px
}
.course-picture2{
    width:720px
}

.course-wrapper{
    max-width: 100%;
    height: 485px;
    vertical-align: auto;
    background:#f5f5f5;
    display: flex;
}

.course-title{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.4rem;
    font-weight: bold;
    margin: 0 0 30px;
}

.course-subtitle{
    max-width: 480px;
    font-weight: bold;
    font-size: 24px;
    vertical-align: middle;
}

.course-subtitle2{
    width: 480px;
    margin: 0 0 0 120px;
    font-weight: bold;
    font-size: 24px;
    vertical-align: middle;
    text-align: left;
    position: relative;
    left: 70px;
}

.course-picture2{
    position: relative;
    left: 120px;
    height: 485px;
}

.course-content{
    margin: 120px 0 40px 50px;
    font-weight: bold;
    letter-spacing: 0.1px;
}

.course-content2{
    margin: 120px 0 0 40px;
    font-weight: bold;
    position: relative;
}

.course-text{
    margin:40px 0 0 50px;
    font-weight: normal;
    font-size: 1.6rem;
    letter-spacing: 1px;
    
}

.course-text2{
    margin:40px 0 0 40px;
    font-weight: normal;
    font-size: 1.6rem;
    letter-spacing: 1px;
}

/* News */
.news{
    color:khaki ;
    font-size: 2.4rem;
    font-weight: bold;
    margin:60px 0 30px 0;
    text-align: center;
}

.news-news{
    text-align: center;
    font-weight: bold;
    margin: 30px 0 60px 0;
}

.wrapper{
    max-width: 960px;
    margin:0 auto;
}

.news-list{
    display: flex;
    justify-content: space-between;

}

.news-item{
    width: 300px;
    flex-basis: 30px;
}


.news-date{
    margin: 30px 0 24px 0;
    text-align: left;
}

.btn-parent{
    display: flex;
    justify-content: center;
}

.btn{
    display: block;
    width: 300px;
    height: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    color: #fff;
    background-color:khaki;
    margin: 60px 0;
    padding: 20px 0 0 0;
    text-align: center;
}

.btn:hover{
    color: black;
    border: solid 1px;
}

/* access */
.access-wrapper{
    display: flex;
    flex-direction: column;
    height: 920px;
    background-color :#f5f5f5;
    align-items: center;
}

.access{
    font-weight: bold;
    font-size: 2.4rem;
    margin: 60px 0 30px 0;
}

.kaisya-info{
    margin: 0 0 60px 0;
}
.access-outer{
    display: flex;
    justify-content: center;
}

.access-detail{
    margin: 45px 0 ;
}

.access-detail2{
    margin: 15px 0 ;
}

/* 問い合わせフォーム */
.contact{
    margin: 60px 0 30px 0; 
}
.contact-title{
    margin: 0 0 30px 0;
    font-size: 24px;
    font-weight:bold;
    text-transform: uppercase;
}
.contact-text1{
    margin: 0 0 60px;
}

.contact-text2{
    margin: 0 0 30px;
}

.contact-text3{
    margin: 0 0 70px;
}

.form-wrap{
    width: 720px;
    margin: auto;       
}

.form-inner{
    display: flex;
    flex-wrap: wrap;
    border-top: solid 0.5PX;   
    border-bottom: solid 0.5px;
}

.form-title{
    width: 232px;
    height: auto;
    text-align: left;
    padding: 8px 0 0 8PX; 
    border-right:solid 0.5px;
    border-bottom: solid 0.5px;
}
.form-title2{
    width: 232px;
    height: auto;
    text-align: left;
    padding: 8px 0 0 8PX; 
    border-right:solid 0.5px;
}
.form-title.no-padding{
    padding: 0 0 0 8px;
}
.under-line{
    width: 479px;
    border-bottom: solid 0.5px;
}
.form-item{
    width: 400px;
    margin:0 0 0  8px;
    text-align: left;
}
.form-item.form-radio{
    width: 480px;
}

.form-radio{
    display: flex;
    flex-direction:column;
}

.form-parts{
    box-sizing:border-box;
    width: 100%;
    font-size: 1.6rem;
    border:solid 0.5px #bfbfbf;
    padding: 8px;
    margin: 8px 0;
}

/* チェックボックス01 */
input[type=checkbox] {
    display: none;
}
.checkbox01 {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 5px 30px;
    position: relative;
    width: auto;
}
.checkbox01::before {
    background: #fff;
    border: 1px solid #231815;
    content: '';
    display: block;
    height: 16px;
    left: 5px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
    width: 16px;
}
.checkbox01::after {
    border-right: 3px solid #ed7a9c;
    border-bottom: 3px solid #ed7a9c;
    content: '';
    display: block;
    height: 9px;
    left: 10px;
    margin-top: -7px;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: rotate(45deg);
    width: 5px;
}
input[type=checkbox]:checked + .checkbox01::after {
    opacity: 1;
}

.btn-submit{
    border: none;
    padding:0;
}

/* footer */
.footer{
    background-color: #707070;
    padding: 30px 0;
}
.copyrights{
    color: white;
}
